.searchInput input {
  border: 0.5px solid white;
  background-color: #282828;
  border-radius: 20px;
  height: 25px;
  line-height: normal;
  color: white;
  display: block;
  width: 80%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 15px;
  padding: 0 6px;
  padding-left: 12px;
}
.searchInput input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(161, 161, 161);
  background-color: #4d5154;
}

.searchInput input::placeholder {
  color: white;
}
